importFrom(Rcpp, evalCpp)
import(JADE, stats)

export(FixNA, gJADE, gFOBI, vSOBI)
S3method(FixNA,default)
S3method(FixNA,ts)
S3method(gJADE,default)
S3method(gJADE,ts)
S3method(gFOBI,default)
S3method(gFOBI,ts)
S3method(vSOBI,default)
S3method(vSOBI,ts)

useDynLib(tsBSS)
