importFrom(Rcpp, evalCpp)
importFrom(forecast, auto.arima)
importFrom(boot, tsboot)
import(JADE, ICtest, stats, parallel)

export(FixNA, gFOBI, gJADE, tssdr, vSOBI, gSOBI, PVC, lbtest,AMUSEboot)
export(AMUSEasymp, AMUSEboot, AMUSEladle, SOBIasymp, SOBIboot, SOBIladle)
S3method(FixNA,default)
S3method(FixNA,ts)
S3method(gFOBI,default)
S3method(gFOBI,ts)
S3method(gJADE,default)
S3method(gJADE,ts)
S3method(vSOBI,default)
S3method(vSOBI,ts)
S3method(components,tssdr)
S3method(print,tssdr)
S3method(plot,tssdr)
S3method(summary,tssdr)
S3method(coef,summary.tssdr)
S3method(components,summary.tssdr)
S3method(print,summary.tssdr)
S3method(plot,summary.tssdr)
S3method(print,lbtest)
S3method(print,bssvol)
useDynLib(tsBSS, .registration = TRUE)